        * {
            margin: 0%;
            padding: 0%;
        }
        
        body {
            background: #2e8d86;
            background-size: cover;
        }
        
        #myvideo1 {
            padding: 10px;
            margin-top: 20px;
            margin-left: 30%;
            width: 500px;
            height: 500px;
            border-radius: 12px;
        }
        
        #myvideo2 {
            padding: 10px;
            margin-top: 5px;
            margin-left: 30%;
            width: 500px;
            height: 500px;
            border-radius: 12px;
        }
        
        p {
            margin-top: 20px;
            margin-left: 31%;
        }